#fichier config
DBConfig.php
/jsons/panier.json
/login/dbconfig.php
/tickets/ticket.txt
ticket_total_caisse.txt
/vendor/
/webshim/
/admind_old/
/.vscode/
/journaux/
/garde/
/lib/
ticket_total_caisse.txt
ticket.txt
caisse/ticket.txt
caisse/commande.txt